.brand {

    padding: 70px 30px;
    background: linear-gradient(
        180deg,
        #1737d9 0%,
        #2244ff 45%,
        #ffffff 100%
    );

    display:flex;
    flex-direction:column;
    align-items:center;

}
